@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css");
@import url(global.css);

h1 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: baseline;

  margin-block: 2rem 4rem;

  font-size: 3rem;
  color: var(--back-color);
  font-weight: 300;

  @media (prefers-color-scheme: light) {
    color: var(--text-hover);
  }

  span {
    transition: all 300ms ease;
    cursor: pointer;

    &:last-of-type {
      scale: 0.7;
      opacity: 0.75;
    }

    &:hover {
      opacity: 1 !important;
    }
  }

  &.register span {
    &:first-of-type {
      scale: 0.7;
      opacity: 0.75;
    }

    &:last-of-type {
      scale: 1;
      opacity: 1;
    }
  }
}

form {
  inline-size: clamp(300px, 400px, 400px);

  margin: auto;

  display: grid;
  align-items: stretch;
  gap: 2rem;
  flex-direction: column;

  font-size: 1rem;
  font-weight: 300;

  input:not([type="radio"]) {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 0 0 4px 4px;
    border-block-start: none;

    color: white;

    @media (prefers-color-scheme: light) {
      color: var(--text-hover);
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-block-start: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  input:disabled {
    opacity: 0.3;
    & + label {
      opacity: 0.3;
    }
  }

  fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr 3fr;

    @media (prefers-color-scheme: dark) {
      color: white;
    }

    div {
      display: flex;
      align-items: center;
    }
  }

  button {
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--back-color);
    color: var(--text-hover);

    @media (prefers-color-scheme: light) {
      color: white;
      background-color: var(--text-hover);
    }
  }
}
